* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

/* Colori */
:root {
    --status-active-color: #2faa5c;
    --status-away-color: #efa918;
    --status-offline-color: #f64146;
    --primary-text-color: #fff9f8;
    --body-background-color: #141318;
    --main-background-color: #1c1d21;
    --footer-background-color:#2c2d33;
    --muted-text-color: #fff9f8;

    /* Spazi */
    --chatapp-bottom-height: 80px;
}

/* Body */

Body {
    background-color: var(--body-background-color);
    color: var(--primary-text-color);
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Utilities */

.debug, .debug > * {
    border: 3px dashed red;
    padding: 6px;
    min-height: 30px;
}

/* Layout */

.chatapp-wrapper {
    height: 100vh;
    overflow: hidden;
}

.chatapp-wrapper > .chatapp-upper {
    height: calc(100vh var(--chatapp-bottom-height));
    display: flex;
}

.chatapp-wrapper > .chatapp-upper > .chatapp-sidebar {
    width: 80px;
    flex-shrink: 0;
    overflow: auto;
}

.chatapp-wrapper > .chatapp-upper > .chatapp-main {
    flex-grow: 1;
    overflow: auto;
    background-color: var(--main-background-color);
    border-top-left-radius: 2rem;
    margin-top: 1rem;
    padding: 2rem;
}

.chatapp-wrapper > .chatapp-bottom {
    height: var(--chatapp-bottom-height);
    background-color: var(--footer-background-color);
}

/* Sidebar */

.server-item {
    margin-bottom: 1rem;
}

.server-item.server-active.server-item:hover {
    position: relative;
}

/* .server-item.server-active::before .server-item:hover::before  */
.server-item.server-item:hover::before {
    content: "";
    height: 100%;
    width: 4px;
    background-color: white;
    position:absolute;
    top: 7;
    left: -0.8rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.server-item .server-img {
    border-radius: 50%;
}

/* Main */

.search-bar {
    display: flex;
}

.search-bar-icon {
    width: 4rem;
}

.search-bar-input {
    flex-grow: 1;
}

.user-card {
    display: flex;
    color: var(--muted-text-color);
    font-size: 0.8rem;
    gap: 0.5rem;
    padding: 0.8rem;
    border-radius: 1rem;
}

.user-card:hover {
    color: var(--primary-text-color);
    background-color: rgba(255, 255, 255, 0.05);
}

.user-profile-pic {
    width: 40px;
    flex-shrink: 0;
    position: relative;
}

.user-profile-pic::after {
    content: "";
    position: absolute;
    bottom: -2px;
    right: -2px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 5px solid var(--main-background-color)
}

/* Status online, offline, assente */

.status-active .user-profile-pic::after {
    background-color: var(--status-active-color);
}

.status-away .user-profile-pic::after {
    background-color: var(--status-away-color);
}

.status-offline .user-profile-pic-img::after {
    background-color: var(--status-offline-color);
}

.user-profile-pic > .user-profile-pic-img {
    border-radius: 50%;
}

.user-infos {
    flex-grow: 1;
}



















